$background: rgb(17, 0, 36);
$primary-elem: rgba(97, 14, 205, 0.885);
$primary-text: rgb(158, 94, 241);
$secondary-text: rgb(255, 255, 255);
$card-outline: rgb(60, 47, 75);
$primary-card: rgb(40, 23, 55);
$gradient: linear-gradient(90deg, rgb(158, 94, 241), rgb(88, 8, 192));
$gradient2: linear-gradient(45deg, rgb(158, 94, 241), rgb(88, 8, 192));

body {
    background-color: $background;
}

.custom-body {
    margin: 100px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-box {
    position: absolute;
    width: fit-content;
    height: fit-content; 
}

.fit-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url(../app/assets/logo/logo-gradient.png);
}

.full-height {
    height: 100%;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

.lato {
    font-family: 'Lato', sans-serif;
}

/* buttons */

.button {
    background-image: $gradient;
    border-radius: 20px 20px 20px 20px;
}

.button p {
    color: $secondary-text;
}


.button:hover {
    opacity: 0.93;
    filter: brightness(1.2);
}

/* text */

h2, h1, h3 {
    font-family: 'Lato', sans-serif; 
    color: $primary-text;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
    color: $secondary-text;
}

/* card */

.basic-card {
    background-color: $primary-card;
    border-radius: 5px;
    border: solid 2px $card-outline;
}

/* flex-box */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* debugging */

.debug {
    border: solid 2px lightgreen;
}

.debug2 {
    border: solid 2px orange;
}

.debug3 {
    border: solid 2px lightblue;
}